<div class="flex-wrap">
    <table class="table table-zebra">
        <!-- head -->
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Correo electrónico</th>
                <th>Estado invitado</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- row 1 -->
            <tr *ngFor="let user of users" class="hover cursor-pointer" class="hover cursor-pointer">
                <th>{{ user.idusuario }}</th>
                <td>{{ user.nombre }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.estado_invitado }}</td>
                <td><span class="badge" [ngClass]="user.rol =='administrador'? 'badge-error' : 'badge-success'">
                        {{ user.rol }}</span></td>
                <td>
                    <div class="tooltip" data-tip="Aceptar solicitud">
                        <button (click)="aceptarSolicitud(user)" class="btn btn-xs btn-success mr-1">Aceptar</button>
                    </div>
                    <div class="tooltip" data-tip="Rechazar y eliminar usuario">
                        <button (click)="deleteUser(user.idusuario)" class="btn btn-xs btn-warning">Rechazar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>