<div class="navbar bg-base-200">
    <div class="flex-1">
        <!-- Hamburger -->
        <label for="my-drawer-2" class="btn btn-ghost lg:hidden mr-2">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M4 6h16M4 12h16M4 18h16">
                </path>
            </svg>
        </label>

        <a class="btn btn-ghost text-xl">Easy-Coworking</a>
    </div>
    <div class="flex-none">
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle">
                <div class="indicator">
                    <!-- Notification Bell -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                    </svg>
                    <span class="badge badge-primary badge-sm indicator-item">{{ autoregistrados }}</span>
                </div>
            </label>
            <div tabindex="0" class="mt-3 z-[1] card card-compact dropdown-content w-52 bg-base-200 shadow">
                <div *ngIf="autoregistrados > 0" class="card-body">
                    <span class="font-bold text-lg">{{ autoregistrados }} @if (autoregistrados == 1) {
                        solicitud
                        } @else {
                        solicitudes
                        }</span>
                    <div class="card-actions">
                        <button class="btn btn-primary btn-block" routerLink="registered">Ver solicitudes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="indicator">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-door-open-fill" viewBox="0 0 16 16">
                        <path
                            d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                    </svg>
                </div>
            </label>
            <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-200 rounded-box w-52">
                <!--li>
                    <a class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li-->
                <li (click)="goToHome()"><a>Regresar a reservas</a></li>
                <li (click)="logout()"><a>Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>